{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>
    Selected counters are listed below
  </p>
  {% for counter in counters %}
  <p>
    {{ counter.dap_id }}
  </p>
  <input type="hidden" name="_selected_action" value="{{ counter.dap_id }}" />
  {% endfor %}
  <div class="col-md-12 col-12">
  <label>
    Select Employee to perform updation on the selected items.
  </label>
  
    <select id="id_selected_user" name="selected_user">
      {% for user in users %}
      <option value="{{ user.emp_id }}">
        {{ user.emp_name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <input type="hidden" name="action" value="{{ current_selected_designation }}" />
  <input type="submit" name="apply" value="Submit" />
</form>
{% endblock %}