{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>
        Selected counters are listed below
    </p>
    <div class="results table-responsive">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col" class="sortable column-dap_id">
                        <div class="text"><a href="?district=103003017&amp;o=1">Dap id</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-sap_code">
                        <div class="text"><a href="?district=103003017&amp;o=2">Sap code</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-counter_name">
                        <div class="text"><a href="?district=103003017&amp;o=3">Counter name</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-so_code">
                        <div class="text"><a href="?district=103003017&amp;o=4">Sales Officer</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-asm">
                        <div class="text"><a href="?district=103003017&amp;o=5">Asm</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-rsm">
                        <div class="text"><a href="?district=103003017&amp;o=6">Rsm</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-coach">
                        <div class="text"><a href="?district=103003017&amp;o=7">Coach</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-zsm_state_head">
                        <div class="text"><a href="?district=103003017&amp;o=8">Zsm state head</a></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="sortable column-cluster_head">
                        <div class="text"><a href="?district=103003017&amp;o=9">Cluster head</a></div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for counter in counters %}

                {%  if forloop.counter|divisibleby:2 %}
                <tr class="row2">
                    {% else %}
                <tr class="row1">
                    {% endif %}
                    <td class="field-dap_id">{{ counter.dap_id }}</td>
                    <td class="field-sap_code">
                        {%  if counter.sap_code != None %}
                        {{ counter.sap_code }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="field-counter_name">
                        {%  if counter.counter_name != None %}
                        {{ counter.counter_name }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="field-so_code nowrap">
                        {%  if counter.so_code != None %}
                        {{ counter.so_code }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="field-asm nowrap">
                        {%  if counter.asm != None %}
                        {{ counter.asm }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="field-rsm nowrap">
                        {%  if counter.rsm != None %}
                        {{ counter.rsm }}
                        {% else %}
                        -
                        {% endif %}

                    </td>
                    <td class="field-coach nowrap">
                        {%  if counter.coach != None %}
                        {{ counter.coach }}
                        {% else %}
                        -
                        {% endif %}
                    <td class="field-zsm_state_head nowrap">
                        {%  if counter.zsm_state_head != None %}
                        {{ counter.zsm_state_head }}
                        {% else %}
                        -
                        {% endif %}
                    <td class="field-cluster_head nowrap">
                        {%  if counter.cluster_head != None %}
                        {{ counter.cluster_head }}
                        {% else %}
                        -
                        {% endif %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <input type="hidden" name="_selected_action" value="{{ counter.dap_id }}" />
    <br />
    <br />
    <div class="row m-4">
        <div class="col-md-12 col-12">
            <label>
                Select Employee to perform updation on the selected items.
            </label>

            <select id="id_selected_user" name="selected_user">
                {% for user in users %}
                <option value="{{ user.emp_id }}">
                    {{ user.emp_name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input type="hidden" name="action" value="{{ current_selected_designation }}" />
    <input type="submit" name="apply" value="Submit" />
</form>
{% endblock %}