{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <style>
        span {
            margin-right: 0.4rem;
        }

        .hidden {
            display: none
        }

        .text-muted {
            padding-left: 3rem;
        }

        .accordion {
            padding-left: 1.5rem
        }

        .card-header {
            font-size: 1rem
        }

        .logo {
            width: 100%;
        }

        .border1 {
            border-bottom: 1px solid rgb(226, 225, 225) !important;
            margin-bottom: 5px !important;
        }

        span ul li {
            float: none;
            margin-right: 10px;
            list-style: none;
        }

        .form-group {
            margin-bottom: 0.6rem !important;
        }

        .dropdown-class {
            margin-bottom: -0.9rem !important;
        }

        .card-body {
            padding: 0px 1.25rem !important;
        }
    </style>
</head>

<body>

    <div class="">
        <div class="">
            <form class="form" action="/preview/" method="POST">
                <div class="row hidden">
                    {{ form.dap_id }}
                    {{ form.so_code }}
                </div>
                <div class="row align-items-end">
                    <div class="text-muted form-group col-md-10 col-sm-6 col-8">

                    </div>
                    <div class="form-group col-md-2 col-sm-6 col-4">
                        <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Data to be collected from Outlets</h5>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">1</span>{{ form.total_potential.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.total_potential }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">2</span>{{ form.wholesale_volume.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.wholesale_volume }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">3</span>{{ form.retail_volume.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.retail_volume }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-12">
                                <span class="badge badge-pill badge-primary">4</span>
                                <div class="accordion" id="accordionExample">

                                    <div class=" border1">

                                        <div class="" id="headingOne">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-4 ">
                                                    {{ form.brand_1.label }}
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-8 dropdown-class">
                                                    {{ form.brand_1 }}
                                                    <select
                                                        class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                                        name="option" id="brand_1">
                                                        <option value="">--SELECT--</option>
                                                        {% for id , values in brand_name_list %}
                                                        <option value="{{ id }}">{{ values }}</option><br />
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="toggle_1" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-8 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_1.label }}
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_1 }}
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-12 col-12">
                                                        <label for="total_wholesale">Product wise monthly retail from
                                                            own counter only</label>
                                                    </div>
                                                    <div class="form-group col-md-6  col-sm-12 col-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_1.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_1 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_1.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_1 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_1.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_1 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_1.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_1 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-end">
                                                <div id="label_brand_1"
                                                    class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall"
                                                    style="display:none">
                                                    Please fill all records of brand 1.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" border1">
                                        <div class="" id="headingTwo">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-4 ">
                                                    {{ form.brand_2.label }}
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-8 dropdown-class">
                                                    {{ form.brand_2 }}
                                                    <select
                                                        class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                                        name="option" id="brand_2">
                                                        <option value="">--SELECT--</option>
                                                        {% for id , values in brand_name_list %}
                                                        <option value="{{ id }}">{{ values }}</option><br />
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="toggle_2" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-8 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_2.label }}
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_2 }}
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-12 col-12">
                                                        <label for="total_wholesale">Product wise monthly retail from
                                                            own counter only</label>
                                                    </div>
                                                    <div class="form-group col-md-6  col-sm-12 col-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_2.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_2 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_2.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_2 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_2.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_2 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_2.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_2 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-end">
                                                <div id="label_brand_2"
                                                    class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall"
                                                    style="display:none">
                                                    Please fill all records of brand 2.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" border1">
                                        <div class="" id="headingThree">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-4 ">
                                                    {{ form.brand_3.label }}
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-8 dropdown-class">
                                                    {{ form.brand_3 }}
                                                    <select
                                                        class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                                        name="option" id="brand_3">
                                                        <option value="">--SELECT--</option>
                                                        {% for id , values in brand_name_list %}
                                                        <option value="{{ id }}">{{ values }}</option><br />
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="toggle_3" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-8 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_3.label }}
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_3 }}
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-12 col-12">
                                                        <label for="total_wholesale">Product wise monthly retail from
                                                            own counter only</label>
                                                    </div>
                                                    <div class="form-group col-md-6  col-sm-12 col-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_3.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_3 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_3.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_3 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_3.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_3 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_3.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_3 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-end">
                                                <div id="label_brand_3"
                                                    class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall"
                                                    style="display:none">
                                                    Please fill all records of brand 3.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" border1">
                                        <div class="" id="headingFour">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-4 ">
                                                    {{ form.brand_4.label }}
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-8 dropdown-class">
                                                    {{ form.brand_4 }}
                                                    <select
                                                        class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                                        name="option" id="brand_4">
                                                        <option value="">--SELECT--</option>
                                                        {% for id , values in brand_name_list %}
                                                        <option value="{{ id }}">{{ values }}</option><br />
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="toggle_4" class="collapse" aria-labelledby="headingFour"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-8 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_4.label }}
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_4 }}
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-12 col-12">
                                                        <label for="total_wholesale">Product wise monthly retail from
                                                            own counter only</label>
                                                    </div>
                                                    <div class="form-group col-md-6  col-sm-12 col-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_4.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_4 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_4.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_4 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_4.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_4 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_4.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_4 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-end">
                                                <div id="label_brand_4"
                                                    class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall"
                                                    style="display:none">
                                                    Please fill all records of brand 4.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="" id="headingFive">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-4 ">
                                                    {{ form.brand_5.label }}
                                                </div>
                                                <div class="form-group col-md-2 col-sm-6 col-8 dropdown-class">
                                                    {{ form.brand_5 }}
                                                    <select
                                                        class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                                        name="option" id="brand_5">
                                                        <option value="">--SELECT--</option>
                                                        {% for id , values in brand_name_list %}
                                                        <option value="{{ id }}">{{ values }}</option><br />
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="toggle_5" class="collapse" aria-labelledby="headingFive"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="form-group col-md-8 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_5.label }}
                                                    </div>
                                                    <div class="form-group col-md-4 col-sm-6 col-6">
                                                        {{ form.wholesale_brand_5 }}
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-6 col-sm-12 col-12">
                                                        <label for="total_wholesale">Product wise monthly retail from
                                                            own counter only</label>
                                                    </div>
                                                    <div class="form-group col-md-6  col-sm-12 col-12">
                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_5.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.opc_brand_5 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_5.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.ppc_brand_5 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_5.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.pcc_brand_5 }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_5.label }}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-6 col-6">
                                                                {{ form.psc_brand_5 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row align-items-end">
                                                <div id="label_brand_5"
                                                    class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall"
                                                    style="display:none">
                                                    Please fill all records of brand 5.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-md-10 col-sm-6 col-8">
                                <label for="">Other brand Wholesale</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-4">
                                <label id="id_other_brand_whole_sale">0</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 col-sm-6 col-8">
                                <label for="other-brand-Retail">Other brand Retail Sale</label>
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-4">
                                <label id="id_other_brand_retail_sale">0</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-6 col-12">
                                {{ form.comment.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-12">
                                {{ form.comment }}
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <br />
                            <div class="col-md-2 col-sm-2 col-6">
                                <button type="button" onclick="goBack()"
                                    class="btn btn-primary btn-sm btn-block">Prev</button>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                <button type="submit" id="id_submit" onclick="formSubmit()"
                                    class="btn btn-block btn-sm btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.select_field_class').select2({ placeholder: "Select here", maximumSelectionSize: 1 });
            if ($('#id_brand_1').val()) {
                $('#brand_1').val($('#id_brand_1').val()).change();
            }
            if ($('#id_brand_2').val()) {
                $('#brand_2').val($('#id_brand_2').val()).change();
            }
            if ($('#id_brand_3').val()) {
                $('#brand_3').val($('#id_brand_3').val()).change();
            }
            if ($('#id_brand_4').val()) {
                $('#brand_4').val($('#id_brand_4').val()).change();
            }
            if ($('#id_brand_5').val()) {
                $('#brand_5').val($('#id_brand_5').val()).change();
            }
        });
        $(document).ready(function () {
            calculateCementBusinessValidation();
        });

        $("#id_total_potential").change(function () {
            $("#id_wholesale_volume").val('0');
            $("#id_retail_volume").val('0');
        });

        $("#id_wholesale_volume").change(function () {
            var total_potential = parseFloat($("#id_total_potential").val());
            var wholesale_volume = parseFloat($(this).val());
            var retail_volume = total_potential - wholesale_volume;
            $("#id_retail_volume").val(retail_volume);
            if (retail_volume < 0) {
                $("#id_total_potential").css("border-color", "red");
                $("#id_wholesale_volume").css("border-color", "red");
                $("#id_retail_volume").css("border-color", "red");
            } else {
                $("#id_total_potential").css("border-color", "black");
                $("#id_wholesale_volume").css("border-color", "black");
                $("#id_retail_volume").css("border-color", "black");
            }
        });

        $("#id_retail_volume").change(function () {
            var total_potential = parseFloat($("#id_total_potential").val());
            var wholesale_volume = parseFloat($(this).val());
            $("#id_wholesale_volume").val(total_potential - wholesale_volume);
        });

        $("#id_total_potential, #id_wholesale_volume, #id_retail_volume, #id_wholesale_brand_1, #id_opc_brand_1, #id_ppc_brand_1, #id_pcc_brand_1, #id_psc_brand_1, #id_wholesale_brand_2, #id_opc_brand_2, #id_ppc_brand_2, #id_pcc_brand_2, #id_psc_brand_2, #id_wholesale_brand_3, #id_opc_brand_3, #id_ppc_brand_3, #id_pcc_brand_3, #id_psc_brand_3, #id_wholesale_brand_4, #id_opc_brand_4, #id_ppc_brand_4, #id_pcc_brand_4, #id_psc_brand_4, #id_wholesale_brand_5, #id_opc_brand_5, #id_ppc_brand_5, #id_pcc_brand_5, #id_psc_brand_5").change(function () {
            calculateCementBusinessValidation();
        });
        function calculateCementBusinessValidation() {
            console.log("Enetered.");

            var total_potential = parseFloat($("#id_total_potential").val());
            var wholesale_volume = parseFloat($("#id_wholesale_volume").val());
            var retail_volume = parseFloat($("#id_retail_volume").val());

            var wholesale_brand_1 = parseFloat($("#id_wholesale_brand_1").val());
            var opc_brand_1 = parseFloat($("#id_opc_brand_1").val());
            var ppc_brand_1 = parseFloat($("#id_ppc_brand_1").val());
            var pcc_brand_1 = parseFloat($("#id_pcc_brand_1").val());
            var psc_brand_1 = parseFloat($("#id_psc_brand_1").val());
            var wholesale_brand_2 = parseFloat($("#id_wholesale_brand_2").val());
            var opc_brand_2 = parseFloat($("#id_opc_brand_2").val());
            var ppc_brand_2 = parseFloat($("#id_ppc_brand_2").val());
            var pcc_brand_2 = parseFloat($("#id_pcc_brand_2").val());
            var psc_brand_2 = parseFloat($("#id_psc_brand_2").val());
            var wholesale_brand_3 = parseFloat($("#id_wholesale_brand_3").val());
            var opc_brand_3 = parseFloat($("#id_opc_brand_3").val());
            var ppc_brand_3 = parseFloat($("#id_ppc_brand_3").val());
            var pcc_brand_3 = parseFloat($("#id_pcc_brand_3").val());
            var psc_brand_3 = parseFloat($("#id_psc_brand_3").val());
            var wholesale_brand_4 = parseFloat($("#id_wholesale_brand_4").val());
            var opc_brand_4 = parseFloat($("#id_opc_brand_4").val());
            var ppc_brand_4 = parseFloat($("#id_ppc_brand_4").val());
            var pcc_brand_4 = parseFloat($("#id_pcc_brand_4").val());
            var psc_brand_4 = parseFloat($("#id_psc_brand_4").val());
            var wholesale_brand_5 = parseFloat($("#id_wholesale_brand_5").val());
            var opc_brand_5 = parseFloat($("#id_opc_brand_5").val());
            var ppc_brand_5 = parseFloat($("#id_ppc_brand_5").val());
            var pcc_brand_5 = parseFloat($("#id_pcc_brand_5").val());
            var psc_brand_5 = parseFloat($("#id_psc_brand_5").val());

            var sumRetailBrand1 = opc_brand_1 + ppc_brand_1 + pcc_brand_1 + psc_brand_1;
            var sumRetailBrand2 = opc_brand_2 + ppc_brand_2 + pcc_brand_2 + psc_brand_2;
            var sumRetailBrand3 = opc_brand_3 + ppc_brand_3 + pcc_brand_3 + psc_brand_3;
            var sumRetailBrand4 = opc_brand_4 + ppc_brand_4 + pcc_brand_4 + psc_brand_4;
            var sumRetailBrand5 = opc_brand_5 + ppc_brand_5 + pcc_brand_5 + psc_brand_5;

            var sumRetail = sumRetailBrand1 + sumRetailBrand2 + sumRetailBrand3 + sumRetailBrand4 + sumRetailBrand5;
            var sumWholesale = wholesale_brand_1 + wholesale_brand_2 + wholesale_brand_3 + wholesale_brand_4 + wholesale_brand_5;

            var other_brand_retail_sale = retail_volume - sumRetail;
            $("#id_other_brand_retail_sale").text(other_brand_retail_sale);
            if (other_brand_retail_sale < 0) {
                $("#id_other_brand_retail_sale").css("color", "red");
            } else {
                $("#id_other_brand_retail_sale").css("color", "black");
            }
            var other_brand_wholesale = wholesale_volume - sumWholesale;
            $("#id_other_brand_whole_sale").text(other_brand_wholesale);
            if (other_brand_wholesale < 0) {
                $("#id_other_brand_whole_sale").css("color", "red");
            } else {
                $("#id_other_brand_whole_sale").css("color", "black");
            }

            if ((total_potential < wholesale_volume + retail_volume) || (wholesale_volume < sumWholesale) || (retail_volume < sumRetail)) {
                $('#id_submit').attr('disabled', 'disabled');
            }
            else {
                $('#id_submit').attr('disabled', false);
            }
        }

        $('#brand_1').change(function () {
            toggleAcc('toggle_1');
        });
        $('#brand_2').change(function () {
            toggleAcc('toggle_2');
        });
        $('#brand_3').change(function () {
            toggleAcc('toggle_3');
        });
        $('#brand_4').change(function () {
            toggleAcc('toggle_4');
        });
        $('#brand_5').change(function () {
            toggleAcc('toggle_5');
        });

        function toggleAcc(event_id) {
            let list = ['toggle_1', 'toggle_2', 'toggle_3', 'toggle_4', 'toggle_5'];
            var res = event_id.substring(event_id.length - 1, event_id.length);
            var canExpand = true;
            for (var brnd = 1; brnd < res; brnd++) {
                if ($("#brand_" + (brnd)).val() == "" ||
                    ($("#id_wholesale_brand_" + (brnd)).val() == "" || $("#id_wholesale_brand_" + (brnd)).val() == 0) &&
                    ($("#id_opc_brand_" + (brnd)).val() == "" || $("#id_opc_brand_" + (brnd)).val() == 0) &&
                    ($("#id_ppc_brand_" + (brnd)).val() == "" || $("#id_ppc_brand_" + (brnd)).val() == 0) &&
                    ($("#id_pcc_brand_" + (brnd)).val() == "" || $("#id_pcc_brand_" + (brnd)).val() == 0) &&
                    ($("#id_psc_brand_" + (brnd)).val() == "" || $("#id_psc_brand_" + (brnd)).val() == 0)) {
                    $("#label_brand_" + (brnd)).show();
                    $("#brand_" + (res)).val("");
                    canExpand = false;
                }
                else {
                    canExpand = true;
                    $("#label_brand_" + (brnd)).hide();
                }
            }
            if (canExpand && $.inArray(event_id, list) != -1) {
                document.getElementById(event_id).classList.add("in", "show");
            }
        }
        function goBack() {
            window.location.href = '/page-2/' + $('#id_dap_id').val() + '/'
        }
        function formSubmit() {
            if ($('#brand_1').val()) {
                $('#id_brand_1').val($('#brand_1').val()).change();
            }
            if ($('#brand_2').val()) {
                $('#id_brand_2').val($('#brand_2').val()).change();
            }
            if ($('#brand_3').val()) {
                $('#id_brand_3').val($('#brand_3').val()).change();
            }
            if ($('#brand_4').val()) {
                $('#id_brand_4').val($('#brand_4').val()).change();
            }
            if ($('#brand_5').val()) {
                $('#id_brand_5').val($('#brand_5').val()).change();
            }
        }
    </script>
</body>

</html>