{% load static %}
<!DOCTYPE html>
<html lang="en">
​

<head>
    <title>First New</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <style>
        span {
            margin-right: 0.4rem
        }

        .hidden {
            display: none
        }

        ul li {
            float: left;
            margin-right: 10px;
            list-style: none;
        }

        span ul li {
            float: none;
            margin-right: 10px;
            list-style: none;
        }

        .card-header {
            font-size: 1rem
        }

        .logo {
            width: 100%;
        }

        .col-6,
        .col-12,
        .col-4,
        .col-8,
        .container-fluid {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .form-group {
            margin-bottom: 0.6rem !important;
        }

        .dropdown-class {
            margin-bottom: -0.9rem !important;
        }

        .card-body {
            padding: 0px 1.25rem !important;
        }
    </style>
</head>
​

<body>
    ​
    <div class="">
        <div class="">
            <form class="form" action="/page-2/" method="POST">
                <div class="row align-items-end">
                    <div class="form-group col-md-5 col-sm-3 col-3">
                        <p>{{ form.so_code }}</p>
                        <p>{{ form.sap_code }}</p>
                    </div>
                    <div class="form-group col-md-5 col-sm-3 col-3">

                        <p>{{ form.counter_name }}</p>
                    </div>
                    <div class="form-group col-md-2 col-sm-6 col-6">
                        <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Basic Information</h5>
                    <div class="card-body">
                        ​
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-4">
                                {{ form.outlet_name.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-8 dropdown-class">
                                {{ form.outlet_name }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    name="option" id="outlet_name">
                                    {% for id , values in outlet_name_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.dap_id.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6 dropdown-class">
                                {{ form.dap_id }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    name="option" id="dap_id">
                                    {% for id , values in outlet_id_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.state.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.state }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.district.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.district }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.city.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.city }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.block_taluka_mandal.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.block_taluka_mandal }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.phone_number.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.geo_location.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.geo_location }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.dob.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.dob }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.is_a_cement_counter.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.is_a_cement_counter }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Infrastructure & Capability for overall business</h5>
                    <div class="card-body">
                        ​
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">1</span>{{ form.no_of_employees.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.no_of_employees }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">2</span>{{ form.no_of_delivery_vans.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.no_of_delivery_vans }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">3</span>{{ form.average_cement_stock.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.average_cement_stock }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">4</span>{{ form.next_generation_in_business.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.next_generation_in_business }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">5
                                    </span>{{ form.does_dealer_walk_the_market.label }}</p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.does_dealer_walk_the_market }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">6</span>{{ form.personal_investment_in_business.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.personal_investment_in_business }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">7</span>{{ form.no_of_sub_dealers.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.no_of_sub_dealers }}
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div id="skipLabelMessage"
                                class="text-danger col-md-12 col-sm-12 col-12 font-xtrasmall hidden">
                                * SAP Id / Outlet name is mandatory to skip.
                            </div>
                            <div class="col-md-2 col-sm-2 col-6">
                                <button type="button" class="btn btn-primary btn-sm btn-block"
                                    onclick="skipPage1()">Skip</button>
                            </div>
                            <div class="col-md-2 col-sm-2 col-6">
                                <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    onclick="formSubmit()">Next</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#id_district').attr('disabled', true);
            $('#id_city').attr('disabled', true);
            $('#id_block_taluka_mandal').attr('disabled', true);
        });



        $("#id_state").change(function () {
            if (flag == 0) {
                var state_id = $(this).val()
                if (state_id) {
                    $.ajax({
                        url: '/ajax/all-districts-under-state/',
                        data: {
                            'state_id': state_id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.district_data) {
                                console.log(data)
                                $('#id_district').find('option').remove();
                                $("#id_district").append($("<option></option>").val("").html("--SELECT--"));
                                $.each(data.district_data, function (index, value) {
                                    var listItem = $("<option></option>").val(index).html(value);
                                    $("#id_district").append(listItem);
                                    $('#id_district').attr('disabled', false);
                                });
                            }
                            else {
                                console.log("No district data exist for corresponding state.")
                            }
                        },
                    });
                }
                else {
                    $('#id_district').find('option').remove();
                    $("#id_district").append($("<option></option>").val("").html("--SELECT--"));
                    $('#id_district').attr('disabled', true);
                    $('#id_city').find('option').remove();
                    $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
                    $('#id_city').attr('disabled', true);
                    $('#id_block_taluka_mandal').find('option').remove();
                    $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
                    $('#id_block_taluka_mandal').attr('disabled', true);
                }
            }
        });

        $("#id_district").change(function () {
            if (flag == 0) {
                var district_id = $(this).val()
                if (district_id) {
                    $.ajax({
                        url: '/ajax/all-cities-block-taluka-under-district/',
                        data: {
                            'district_id': district_id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.city_data) {
                                console.log(data)
                                $('#id_city').find('option').remove();
                                $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
                                $.each(data.city_data, function (index, value) {
                                    var listItem = $("<option></option>").val(index).html(value);
                                    $("#id_city").append(listItem);
                                    $('#id_city').attr('disabled', false);
                                });
                            }
                            else {
                                console.log("No city data exist for corresponding district.")
                            }
                            if (data.block_taluka) {
                                console.log(data)
                                $('#id_block_taluka_mandal').find('option').remove();
                                $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
                                $.each(data.block_taluka, function (index, value) {
                                    var listItem = $("<option></option>").val(index).html(value);
                                    $("#id_block_taluka_mandal").append(listItem);
                                    $('#id_block_taluka_mandal').attr('disabled', false);
                                });
                            }
                            else {
                                console.log("No city or block taluka data exist for corresponding district.")
                            }
                        },
                    });
                }
                else {
                    $('#id_city').find('option').remove();
                    $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
                    $('#id_city').attr('disabled', true);
                    $('#id_block_taluka_mandal').find('option').remove();
                    $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
                    $('#id_block_taluka_mandal').attr('disabled', true);
                }
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.select_field_class').select2({ placeholder: "Select here", maximumSelectionSize: 1 });
            if ($('#id_dap_id').val()) {
                ajaxCallToGetCounterData($('#id_dap_id').val())
            }
        });

        var flag = 0;

        $("#outlet_name").change(function () {
            ajaxCallToGetCounterData($(this).val(), "outlet_name");
        });

        $("#dap_id").change(function () {
            ajaxCallToGetCounterData($(this).val(), "dap_id");
        });

        function ajaxCallToGetCounterData(dap_id, from) {
            if (flag == 0) {
                flag = 1;
                $.ajax({
                    url: '/ajax/validate_counter_by_dap_id/',
                    data: {
                        'dap_id': dap_id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.counter_data) {
                            console.log(data)
                            if (data.counter_data[0]['sap_code'] != '' && data.counter_data[0]['sap_code'] != undefined && data.counter_data[0]['sap_code'] != null) {
                                $('#id_sap_code').val(data.counter_data[0]['sap_code']).change();
                                $('#id_state').attr('disabled', true);
                                $('#id_district').attr('disabled', true);
                                $('#id_city').attr('disabled', true);
                                $('#id_block_taluka_mandal').attr('disabled', true);
                            }
                            else {
                                $('#id_sap_code').val("").change();
                                $('#id_state').attr('disabled', false);
                                $('#id_district').attr('disabled', false);
                                $('#id_city').attr('disabled', false);
                                $('#id_block_taluka_mandal').attr('disabled', false);
                            }
                            $('#outlet_name').val(data.counter_data[0]['dap_id']).change();
                            $('#id_counter_name').val(data.counter_data[0]['counter_name']).change();
                            $('#dap_id').val(data.counter_data[0]['dap_id']).change();
                            $('#id_state').val(data.counter_data[0]['state']).change();
                            $('#id_district').val(data.counter_data[0]['district']).change();
                            $('#id_city').val(data.counter_data[0]['city']).change();
                            $('#id_phone_number').val(data.counter_data[0]['phone_number']).change();
                            $('#id_dob').val(data.counter_data[0]['dob']).change();
                            if (!$('#id_geo_location').val()) {
                                $('#id_geo_location').val(setGeoLocation()).change();
                            }
                            $('#id_block_taluka_mandal').val(data.counter_data[0]['block_taluka_mandal']).change();
                            $("input[name='is_a_cement_counter'][value='" + data.counter_data[0]['is_cement_counter'] + "']").prop('checked', true);
                            // Hide state, district, city, block taluka, DOB for all Dalmia counters.
                            if (data.counter_data[0]['is_cement_counter'] == 'no') {
                                $('#id_average_cement_stock').attr('readonly', true);
                            }
                            else {
                                $('#id_average_cement_stock').attr('readonly', false);
                            }
                            if (data.counter_data[0]['outlet_master'][0]) {
                                $('#id_no_of_employees').val(data.counter_data[0]['outlet_master'][0]['no_of_employees']).change();
                                $('#id_no_of_delivery_vans').val(data.counter_data[0]['outlet_master'][0]['no_of_delivery_vans']).change();
                                $('#id_average_cement_stock').val(data.counter_data[0]['outlet_master'][0]['average_cement_stock']).change();
                                $('#id_next_generation_in_business').val(data.counter_data[0]['outlet_master'][0]['next_generation_in_business']).change();
                                $('#id_does_dealer_walk_the_market').val(data.counter_data[0]['outlet_master'][0]['does_dealer_walk_the_market']).change();
                                $('#id_personal_investment_in_business').val(data.counter_data[0]['outlet_master'][0]['personal_investment_in_business']).change();
                                $('#id_no_of_sub_dealers').val(data.counter_data[0]['outlet_master'][0]['no_of_sub_dealers']).change();
                            }
                            else {
                                $('#id_no_of_employees').val('').change();
                                $('#id_no_of_delivery_vans').val('').change();
                                $('#id_average_cement_stock').val('').change();
                                $('#id_next_generation_in_business').val('yes').change();
                                $('#id_does_dealer_walk_the_market').val('yes').change();
                                $('#id_personal_investment_in_business').val('').change();
                                $('#id_no_of_sub_dealers').val('').change();
                            }
                        }
                        else {
                            $('#outlet_name').val('').change();
                            $('#id_counter_name').val('').change();
                            $('#dap_id').val('').change();
                            $('#id_state').val('').change();
                            $('#id_district').val('').change();
                            $('#id_city').val('').change();
                            $('#id_block_taluka_mandal').val('').change();
                            $('#id_phone_number').val('').change();
                            $('#id_geo_location').val(setGeoLocation()).change();
                            $("input[name='is_a_cement_counter'][value='yes']").prop('checked', true);
                            $('#id_no_of_employees').val('').change();
                            $('#id_no_of_delivery_vans').val('').change();
                            $('#id_average_cement_stock').val('').change();
                            $('#id_next_generation_in_business').val('yes').change();
                            $('#id_does_dealer_walk_the_market').val('yes').change();
                            $('#id_personal_investment_in_business').val('').change();
                            $('#id_no_of_sub_dealers').val('').change();
                        }
                    },
                    complete: function (data) {
                        flag = 0;
                    }
                });

            }

        }
        function setGeoLocation() {
            if (navigator.geolocation) { //check if geolocation is available
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position.coords.latitude, position.coords.longitude);
                    $('#id_geo_location').val(position.coords.latitude + ", " + position.coords.longitude).change();
                })
            }
        }

    </script>
    <script>
        jQuery(function ($) {
            $('form').bind('submit', function () {
                console.log('kamal')
                //$(this).find(':select').prop('disabled', false);

                $('#id_state').attr('disabled', false);
                $('#id_district').attr('disabled', false);
                $('#id_city').attr('disabled', false);
                $('#id_block_taluka_mandal').attr('disabled', false);
            });
        });
        $('input[name=is_a_cement_counter]').change(function () {
            radio_value = $('input[name=is_a_cement_counter]:checked').val();
            if (radio_value == 'yes') {
                $('#id_average_cement_stock').attr('readonly', false);
            }
            else {
                $('#id_average_cement_stock').attr('readonly', 'readonly');
            }
        });
        function formSubmit() {
            if ($("#dap_id").val()) {
                $("#id_dap_id").val($("#dap_id").val()).change();
            }
            if ($("#outlet_name").val()) {
                $("#id_outlet_name").val($("#outlet_name").val()).change();
            }
        }
        function skipPage1() {
            if ($("#dap_id").val()) {
                window.location.href = '/page-2/' + $("#dap_id").val() + '/'
            }
            else {
                $("#skipLabelMessage").removeClass("hidden");
            }

        }
    </script>
</body>

</html>