{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Second New</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <style>
        span {
            margin-right: 0.4rem
        }

        .hidden {
            display: none
        }

        .text-muted {
            padding-left: 3rem;
        }

        ul li {
            float: left;
            margin-right: 10px;
            list-style: none;
        }

        span ul li {
            float: none;
            margin-right: 10px;
            list-style: none;
        }


        .card-header {
            font-size: 1rem
        }

        .logo {
            width: 100%;
        }

        .font-xtrasmall {
            position: relative;
            margin-left: 1.5rem;
            font-size: 0.8rem;
        }

        .border1 {
            border-bottom: 1px solid rgb(226, 225, 225) !important;
            margin-bottom: 5px !important;
        }

        .col-6,
        .col-12,
        .container-fluid {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .form-group {
            margin-bottom: 0.6rem !important;
        }

        .card-body {
            padding: 0px 1.25rem !important;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="">
            <form class="form" action="/page-3/" method="POST">
                <div class="row">
                    <div class="text-danger form-group col-md-10 col-sm-6 col-8 "></div>
                    <div class="form-group col-md-2 col-sm-6 col-4">
                        <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall">
                        All values should be last 6 months average
                    </div>
                </div>
                <div class="row hidden">
                    {{ form.so_code }}
                    {{ form.dap_id }}
                    {{ form.is_a_cement_counter }}
                </div>
                <div class="card">
                    <h5 class="card-header">Additional (Other than Cement) Business Info</h5>
                    <div class="card-body">

                        <div class="row border1">
                            <div class="form-group col-md-8 col-sm-6 col-6">
                                {{ form.any_non_cement_business.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.any_non_cement_business }}
                            </div>
                            <div class="form-group col-md-8 col-sm-6 col-6">
                                {{ form.non_cement_turnover.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.non_cement_turnover }}
                            </div>
                        </div>
                        <div class="row border1">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.business_1.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.business_1 }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.average_monthly_sales_1.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.average_monthly_sales_1 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.business_2.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.business_2 }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.average_monthly_sales_2.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.average_monthly_sales_2 }}
                            </div>
                            <div id="mandatoryLabelMessage" class="text-danger col-md-11 col-sm-11 col-11 font-xtrasmall hidden">
                                * Tot. Monthly Sales should be greater than or equals the sum of Avg. Monthly sales of business 1 and business 2.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Network / Channel Capability for cement business</h5>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">1</span>{{ form.is_a_cnf_cfa.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                {{ form.is_a_cnf_cfa_radio }}
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-12">
                                {{ form.is_a_cnf_cfa }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    multiple="multiple" name="option" id="is_a_cnf_cfa">
                                    <option value="">--SELECT--</option>
                                    {% for id , values in brand_name_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">2</span>{{ form.is_a_sp.label }}</p>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                {{ form.is_a_sp_radio }}
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-12">
                                {{ form.is_a_sp }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    multiple="multiple" name="option" id="is_a_sp">
                                    <option value="">--SELECT--</option>
                                    {% for id , values in brand_name_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">3</span>{{ form.is_a_transporter.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                {{ form.is_a_transporter_radio }}
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-12">
                                {{ form.is_a_transporter }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    multiple="multiple" name="option" id="is_a_transporter">
                                    <option value="">--SELECT--</option>
                                    {% for id , values in brand_name_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">4</span>{{ form.is_a_indenting_agent.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                {{ form.is_a_indenting_agent_radio }}
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-12">
                                {{ form.is_a_indenting_agent }}
                                <select class="form-group form-control-sm col-md-4 col-sm-4 col-12 select_field_class"
                                    multiple="multiple" name="option" id="is_a_indenting_agent">
                                    <option value="">--SELECT--</option>
                                    {% for id , values in brand_name_list %}
                                    <option value="{{ id }}">{{ values }}</option><br />
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <p><span class="badge badge-pill badge-primary">5
                                    </span>{{ form.reputation_of_counter.label }}</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-12">
                                {{ form.reputation_of_counter }}
                            </div>

                        </div>

                        <div class="row justify-content-end">
                            <div class="col-md-2 col-sm-2 col-6">
                                <button type="button" onclick="goBack()"
                                    class="btn btn-primary btn-sm btn-block">Prev</button>
                            </div>
                            <div class="form-group col-md-2 col-sm-2 col-6">
                                <button type="submit" id="id_next" name="next" onclick="formSubmit()"
                                    class="submit-form btn btn-primary btn-sm btn-block">Next</button>
                                <button type="submit" id="id_submit" name="submit" onclick="formSubmit()"
                                    class="submit-form btn btn-primary btn-sm btn-block">Submit</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.select_field_class').select2({ placeholder: "Select here", maximumSelectionSize: 10 });
            if ($('#id_is_a_cnf_cfa').val()) {
                $('#is_a_cnf_cfa').val($('#id_is_a_cnf_cfa').val().split(',')).change();
            }
            if ($('#id_is_a_sp').val()) {
                $('#is_a_sp').val($('#id_is_a_sp').val().split(',')).change();
            }
            if ($('#id_is_a_transporter').val()) {
                $('#is_a_transporter').val($('#id_is_a_transporter').val().split(',')).change();
            }
            if ($('#id_is_a_indenting_agent').val()) {
                $('#is_a_indenting_agent').val($('#id_is_a_indenting_agent').val().split(',')).change();
            }
        });
        $(document).ready(function () {
            if ($('#id_is_a_cement_counter').val() == 'no') {
                $('#is_a_cnf_cfa').attr('disabled', true);
                $('#is_a_sp').attr('disabled', true);
                $('#is_a_transporter').attr('disabled', true);
                $('#is_a_indenting_agent').attr('disabled', true);
                $('#id_is_a_cnf_cfa_radio').attr('readonly', 'readonly');
                $('#id_is_a_sp_radio').attr('readonly', 'readonly');
                $('#id_is_a_transporter_radio').attr('readonly', 'readonly');
                $('#id_is_a_indenting_agent_radio').attr('readonly', 'readonly');
                $('#id_next').attr('hidden', true);
                $('#id_submit').attr('hidden', false);
            }
            else {
                $('#id_next').attr('hidden', false);
                $('#id_submit').attr('hidden', true);
                if ($('input[name=is_a_cnf_cfa_radio]:checked').val() == 'no') {
                    $('#is_a_cnf_cfa').attr('disabled', true);
                }
                if ($('input[name=is_a_sp_radio]:checked').val() == 'no') {
                    $('#is_a_sp').attr('disabled', true);
                }
                if ($('input[name=is_a_transporter_radio]:checked').val() == 'no') {
                    $('#is_a_transporter').attr('disabled', true);
                }
                if ($('input[name=is_a_indenting_agent_radio]:checked').val() == 'no') {
                    $('#is_a_indenting_agent').attr('disabled', true);
                }
            }
            if ($('input[name=any_non_cement_business]:checked').val() == 'no') {
                $('#id_non_cement_turnover').attr('readonly', 'readonly');
                $('#id_business_1').attr('readonly', 'readonly');
                $('#id_average_monthly_sales_1').attr('readonly', 'readonly');
                $('#id_business_2').attr('readonly', 'readonly');
                $('#id_average_monthly_sales_2').attr('readonly', 'readonly');
                $('#id_non_cement_turnover').attr('required', false);
                $('#id_business_1').attr('required', false);
                $('#id_average_monthly_sales_1').attr('required', false);
            }
            else {
                $('#id_non_cement_turnover').attr('required', 'required');
                $('#id_business_1').attr('required', 'required');
                $('#id_average_monthly_sales_1').attr('required', 'required');
            }
        });
        $("#id_any_non_cement_business").change(function () {
            radio_value = $('input[name=any_non_cement_business]:checked').val();
            if (radio_value == 'yes') {
                $('#id_non_cement_turnover').attr('readonly', false);
                $('#id_business_1').attr('readonly', false);
                $('#id_average_monthly_sales_1').attr('readonly', false);
                $('#id_business_2').attr('readonly', false);
                $('#id_average_monthly_sales_2').attr('readonly', false);
            }
            else {
                $('#id_non_cement_turnover').attr('readonly', 'readonly');
                $('#id_business_1').attr('readonly', 'readonly');
                $('#id_average_monthly_sales_1').attr('readonly', 'readonly');
                $('#id_business_2').attr('readonly', 'readonly');
                $('#id_average_monthly_sales_2').attr('readonly', 'readonly');
            }
        });



        $("#id_is_a_cnf_cfa_radio").change(function () {
            radio_value = $('input[name=is_a_cnf_cfa_radio]:checked').val();
            if (radio_value == 'yes') {
                $('#is_a_cnf_cfa:not(:selected)').attr('disabled', false);
                $('#is_a_cnf_cfa').attr('required', 'required');
            }
            else {
                $('#is_a_cnf_cfa:not(:selected)').attr('disabled', true);
                $('#is_a_cnf_cfa').attr('required', false);
            }
        });
        $("#id_is_a_sp_radio").change(function () {
            radio_value = $('input[name=is_a_sp_radio]:checked').val();
            if (radio_value == 'yes') {
                $('#is_a_sp:not(:selected)').attr('disabled', false);
                $('#is_a_sp').attr('required', 'required');
            }
            else {
                $('#is_a_sp:not(:selected)').attr('disabled', true);
                $('#is_a_sp').attr('required', false);
            }
        });
        $("#id_is_a_transporter_radio").change(function () {
            radio_value = $('input[name=is_a_transporter_radio]:checked').val();
            if (radio_value == 'yes') {
                $('#is_a_transporter:not(:selected)').attr('disabled', false);
                $('#is_a_transporter').attr('required', 'required');
            }
            else {
                $('#is_a_transporter:not(:selected)').attr('disabled', true);
                $('#is_a_transporter').attr('required', false);
            }
        });
        $("#id_is_a_indenting_agent_radio").change(function () {
            radio_value = $('input[name=is_a_indenting_agent_radio]:checked').val();
            if (radio_value == 'yes') {
                $('#is_a_indenting_agent:not(:selected)').attr('disabled', false);
                $('#is_a_indenting_agent').attr('required', 'required');
            }
            else {
                $('#is_a_indenting_agent:not(:selected)').attr('disabled', true);
                $('#is_a_indenting_agent').attr('required', false);
            }
        });
        $("#id_non_cement_turnover").change(function () {
            calculateNonCementBusinessValidation();
        });
        $("#id_average_monthly_sales_1").change(function () {
            calculateNonCementBusinessValidation();
        });
        $("#id_average_monthly_sales_2").change(function () {
            calculateNonCementBusinessValidation();
        });
        function calculateNonCementBusinessValidation() {
            var nonCement = parseFloat($("#id_non_cement_turnover").val());
            var averageMonthlySales1 = parseFloat($("#id_average_monthly_sales_1").val());
            var averageMonthlySales2 = parseFloat($("#id_average_monthly_sales_2").val());
            var sumOfMonthlySales = averageMonthlySales1 + averageMonthlySales2;
            if (nonCement < (sumOfMonthlySales)) {
                $(".submit-form").attr("disabled", true);
                $("#mandatoryLabelMessage").removeClass("hidden");
            }
            else {
                $(".submit-form").removeAttr("disabled");
                $("#mandatoryLabelMessage").addClass("hidden");
            }
        }
        function goBack() {
            window.location.href = '/page-1/' + $('#id_so_code').val() + '/'
        }

        function formSubmit() {
            if ($('#id_is_a_cement_counter').val() == 'yes') {
                if ($('input[name=is_a_cnf_cfa_radio]:checked').val() == 'yes') {
                    $('#id_is_a_cnf_cfa').val($('#is_a_cnf_cfa').val().toString()).change();
                }
                if ($('input[name=is_a_sp_radio]:checked').val() == 'yes') {
                    $('#id_is_a_sp').val($('#is_a_sp').val().toString()).change();
                }
                if ($('input[name=is_a_transporter_radio]:checked').val() == 'yes') {
                    $('#id_is_a_transporter').val($('#is_a_transporter').val().toString()).change();
                }
                if ($('input[name=is_a_indenting_agent_radio]:checked').val() == 'yes') {
                    $('#id_is_a_indenting_agent').val($('#is_a_indenting_agent').val().toString()).change();
                }
            }
        }
    </script>
</body>

</html>