{% load static %}
<!DOCTYPE html>
<html lang="en">
​

<head>
    <title>New Counter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <style>
        span {
            margin-right: 0.4rem
        }

        .hidden {
            display: none
        }

        ul li {
            float: left;
            margin-right: 10px;
            list-style: none;
        }

        span ul li {
            float: none;
            margin-right: 10px;
            list-style: none;
        }

        .card-header {
            font-size: 1rem
        }

        .logo {
            width: 100%;
        }

        .col-6,
        .col-12,
        .col-4,
        .col-8,
        .container-fluid {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .form-group {
            margin-bottom: 0.6rem !important;
        }

        .dropdown-class {
            margin-bottom: -0.9rem !important;
        }

        .card-body {
            padding: 0px 1.25rem !important;
        }
    </style>
</head>
​

<body>
    ​
    <div class="">
        <div class="">
            <form class="form" action="/submit-new-counter/" method="POST">
                <div class="row align-items-end">
                    <div class="form-group col-md-10 col-sm-6 col-6">
                        <p>{{ form.emp_id }}</p>
                    </div>
                    <div class="form-group col-md-2 col-sm-6 col-6">
                        <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Basic Information</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.state.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.state }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.district.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.district }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.block_taluka_mandal.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.block_taluka_mandal }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.city.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.counter_name.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.counter_name }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.email_id.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.email_id }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.phone_number.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.dob.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.dob }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.geo_location.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.geo_location }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.counter_type.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.counter_type }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Sales Hierarchy</h5>
                        <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.so_code.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.so_code }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.asm.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.asm }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.rsm.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.rsm }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.coach.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.coach }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.zsm_state_head.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.zsm_state_head }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.cluster_head.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.cluster_head }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Infrastructure & Capability for overall business</h5>
                    <div class="card-body">
                        ​
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.is_cement_counter.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.is_cement_counter }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.total_potential.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.total_potential }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.wholesale_volume.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.wholesale_volume }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.retail_volume.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.retail_volume }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                <!-- {{ form.unit.label }} -->
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.unit }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.comment.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.comment }}
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-2 col-sm-2 col-6">
                                <button type="submit" class="btn btn-primary btn-sm btn-block"
                                    onclick="formSubmit()">Submit</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#id_district').attr('disabled', true);
        $('#id_city').attr('disabled', true);
        $('#id_block_taluka_mandal').attr('disabled', true);
        $('#id_so_code').attr('disabled', true);
        $('#id_asm').attr('disabled', true);
        $('#id_rsm').attr('disabled', true);
        $('#id_coach').attr('disabled', true);
        $('#id_zsm_state_head').attr('disabled', true);
        $('#id_cluster_head').attr('disabled', true);
    });

    $("#id_state").change(function () {
        var state_id = $(this).val()
        if (state_id) {
            $.ajax({
                url: '/ajax/all-districts-under-state/',
                data: {
                    'state_id': state_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.district_data) {
                        console.log(data)
                        $('#id_district').find('option').remove();
                        $("#id_district").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.district_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_district").append(listItem);
                            $('#id_district').attr('disabled', false);
                        });
                    }
                    else {
                        console.log("No district data exist for corresponding state.")
                    }
                },
            });
        }
        else {
            $('#id_district').find('option').remove();
            $("#id_district").append($("<option></option>").val("").html("--SELECT--"));
            $('#id_district').attr('disabled', true);
            $('#id_city').find('option').remove();
            $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
            $('#id_city').attr('disabled', true);
            $('#id_block_taluka_mandal').find('option').remove();
            $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
            $('#id_block_taluka_mandal').attr('disabled', true);
        }
    });

    $("#id_district").change(function () {
        var district_id = $(this).val()
        if (district_id) {
            $.ajax({
                url: '/ajax/all-cities-block-taluka-under-district/',
                data: {
                    'district_id': district_id
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.city_data) {
                        $('#id_city').find('option').remove();
                        $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.city_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_city").append(listItem);
                            $('#id_city').attr('disabled', false);
                        });
                    }
                    else {
                        console.log("No city data exist for corresponding district.")
                    }
                    if (data.block_taluka) {
                        $('#id_block_taluka_mandal').find('option').remove();
                        $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.block_taluka, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_block_taluka_mandal").append(listItem);
                            $('#id_block_taluka_mandal').attr('disabled', false);
                        });
                    }
                    else {
                        console.log("No city or block taluka data exist for corresponding district.")
                    }
                },
            });
        }
        else {
            $('#id_city').find('option').remove();
            $("#id_city").append($("<option></option>").val("").html("--SELECT--"));
            $('#id_city').attr('disabled', true);
            $('#id_block_taluka_mandal').find('option').remove();
            $("#id_block_taluka_mandal").append($("<option></option>").val("").html("--SELECT--"));
            $('#id_block_taluka_mandal').attr('disabled', true);
        }
    });
    $("#id_district").change(function () {
        var district_id = $(this).val()
        if (district_id) {
            $.ajax({
                url: '/ajax/all-sales-heirarchy-under-district/',
                data: {
                    'district_id': district_id
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data.so_data) {
                        console.log(data.so_data);
                        $('#id_so_code').find('option').remove();
                        $("#id_so_code").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.so_data, function (index, value) {
                            console.log(index);
                            console.log(value);
                            $("#id_so_code").append($("<option></option>").val(index).html(value));
                        });
                        $('#id_so_code').attr('disabled', false);
                    }
                    if (data.asm_data) {
                        $('#id_asm').find('option').remove();
                        $("#id_asm").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.asm_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_asm").append(listItem);
                            $('#id_asm').attr('disabled', false);
                        });
                    }
                    if (data.rsm_data) {
                        $('#id_rsm').find('option').remove();
                        $("#id_rsm").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.rsm_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_rsm").append(listItem);
                            $('#id_rsm').attr('disabled', false);
                        });
                    }
                    if (data.coach_data) {
                        $('#id_coach').find('option').remove();
                        $("#id_coach").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.coach_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_coach").append(listItem);
                            $('#id_coach').attr('disabled', false);
                        });
                    }
                    if (data.zsm_state_head_data) {
                        $('#id_zsm_state_head').find('option').remove();
                        $("#id_zsm_state_head").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.zsm_state_head_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_zsm_state_head").append(listItem);
                            $('#id_zsm_state_head').attr('disabled', false);
                        });
                    }
                    if (data.cluster_head_data) {
                        $('#id_cluster_head').find('option').remove();
                        $("#id_cluster_head").append($("<option></option>").val("").html("--SELECT--"));
                        $.each(data.cluster_head_data, function (index, value) {
                            var listItem = $("<option></option>").val(index).html(value);
                            $("#id_cluster_head").append(listItem);
                            $('#id_cluster_head').attr('disabled', false);
                        });
                    }
                },
            });
        }
        else {
            $('#id_so_code').find('option').remove();
            $('#id_so_code').attr('disabled', true);
            $('#id_so_code').append($("<option></option>").val("").html("--SELECT--"));
            $('#id_asm').find('option').remove();
            $('#id_asm').attr('disabled', true);
            $('#id_asm').append($("<option></option>").val("").html("--SELECT--"));
            $('#id_rsm').find('option').remove();
            $('#id_rsm').attr('disabled', true);
            $('#id_rsm').append($("<option></option>").val("").html("--SELECT--"));
            $('#id_coach').find('option').remove();
            $('#id_coach').attr('disabled', true);
            $('#id_coach').append($("<option></option>").val("").html("--SELECT--"));
            $('#id_zsm_state_head').find('option').remove();
            $('#id_zsm_state_head').attr('disabled', true);
            $('#id_zsm_state_head').append($("<option></option>").val("").html("--SELECT--"));
            $('#id_cluster_head').find('option').remove();
            $('#id_cluster_head').attr('disabled', true);
            $('#id_cluster_head').append($("<option></option>").val("").html("--SELECT--"));
        }
    });

</script>
<script>
    $("#id_total_potential").change(function () {
        $("#id_wholesale_volume").val('0');
        $("#id_retail_volume").val('0');
    });

    $("#id_wholesale_volume").change(function () {
        var total_potential = parseFloat($("#id_total_potential").val());
        var wholesale_volume = parseFloat($(this).val());
        var retail_volume = total_potential - wholesale_volume;
        $("#id_retail_volume").val(retail_volume);
        if (retail_volume < 0) {
            $("#id_total_potential").css("border-color", "red");
            $("#id_wholesale_volume").css("border-color", "red");
            $("#id_retail_volume").css("border-color", "red");
        } else {
            $("#id_total_potential").css("border-color", "black");
            $("#id_wholesale_volume").css("border-color", "black");
            $("#id_retail_volume").css("border-color", "black");
        }
    });

    $("#id_retail_volume").change(function () {
        var total_potential = parseFloat($("#id_total_potential").val());
        var wholesale_volume = parseFloat($(this).val());
        $("#id_wholesale_volume").val(total_potential - wholesale_volume);
    });

</script>

</html>