{% load static %}
<!DOCTYPE html>
<html>
​

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Data not found</title>
    <style type="text/css">
        .logo {
            width: 100%
        }

        ​ #main {
            height: 100vh;
        }

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 5rem;
        }
    </style>
    ​
</head>
​

<body>
    <div class="row">
        <div class="form-group col-md-10 col-sm-6  col"> </div>
        <div class="form-group col-md-2  col-sm-6 col">
            <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
        </div>
        ​
    </div>
</body>
​

</html>