{% load static %}
<!DOCTYPE html>
<html lang="en">
​

<head>
    <title>Preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        span {
            margin-right: 0.4rem
        }

        ul li {
            float: left;
            margin-right: 10px;
            list-style: none;
        }

        .card-header {
            font-size: 1rem
        }

        .logo {
            width: 100%;
        }

        .font-xtrasmall {
            margin-left: 0.5rem;
            font-size: 0.8rem;
        }

        .card-body {
            padding: 0px 1.25rem !important;
        }

        .hidden {
            display: none
        }
    </style>
</head>

<body>
    ​
    <div class="">
        <div class="">
            <form class="form" action="/submit/" method="POST">
                <div class="row">
                    <div class="form-group col-md-10 col-sm-6 col-6"></div>
                    <div class="form-group col-md-2 col-sm-6 col-6">
                        <img src="{% static "images/Dalmia LOGO-01.png" %}" alt="Logo image" class="logo">
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="text-danger form-group col-md-10 col-sm-6 col-12 font-xtrasmall">
                        SUMMARY
                    </div>
                </div>
                <div class="row hidden">
                    {{ form.dap_id }}
                </div>
                <div class="card">
                    <h5 class="card-header">Basic Information</h5>
                    <div class="card-body">
                        ​
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.counter_name.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.counter_name }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.so_code.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.so_code }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.state.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.state }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.district.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.district }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.city.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.city }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.block_taluka_mandal.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.block_taluka_mandal }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.phone_number.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.geo_location.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.geo_location }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.dob.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.dob }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.is_a_cement_counter.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.is_a_cement_counter }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="infrastructureCapabilityForOverallBusiness" class="card">
                    <h5 class="card-header">Infrastructure & Capability for overall business</h5>
                    <br/>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">1</span>{{ form.no_of_employees.label }}
                                    (Nos.)
                                </p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.no_of_employees }}
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">2</span>{{ form.no_of_delivery_vans.label }}
                                    (Nos.)
                                </p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.no_of_delivery_vans }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">3</span>{{ form.average_cement_stock.label }}
                                    (MT/month)
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                {{ form.average_cement_stock }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">4</span>{{ form.next_generation_in_business.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.next_generation_in_business }}
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">5
                                    </span>{{ form.does_dealer_walk_the_market.label }}</p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.does_dealer_walk_the_market }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">6</span>{{ form.personal_investment_in_business.label }}
                                    (INR Cr.)
                                </p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.personal_investment_in_business }}
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                <p><span
                                        class="badge badge-pill badge-primary">7</span>{{ form.no_of_sub_dealers.label }}
                                    (Nos.)
                                </p>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 col-6">
                                {{ form.no_of_sub_dealers }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="additionalBusinessInfo" class="card">
                    <h5 class="card-header">Additional (Other than Cement) Business Info</h5>
                    <br/>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-6 col-6">
                                {{ form.any_non_cement_business.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.any_non_cement_business }}
                            </div>
                            <div class="form-group col-md-8 col-sm-6 col-6">
                                {{ form.non_cement_turnover.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.non_cement_turnover }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.business_1.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.business_1 }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.average_monthly_sales_1.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.average_monthly_sales_1 }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.business_2.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.business_2 }}
                            </div>
                            <div class="form-group col-md-2 col-sm-6 col-6">
                                {{ form.average_monthly_sales_2.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.average_monthly_sales_2 }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="networkCapabilityForCementBusiness" class="card">
                    <h5 class="card-header">Network / Channel Capability for cement business</h5>
                    <br/>
                    <div class="card-body">
                        <div id="is_a_cnf_cfa" class="row">
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <p><span class="badge badge-pill badge-primary">1</span>{{ form.is_a_cnf_cfa.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                {{ form.is_a_cnf_cfa }}
                            </div>
                        </div>
                        <div id="is_a_sp" class="row">
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <p><span class="badge badge-pill badge-primary">2</span>{{ form.is_a_sp.label }}</p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                {{ form.is_a_sp }}
                            </div>
                        </div>
                        <div id="is_a_transporter" class="row">
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <p><span
                                        class="badge badge-pill badge-primary">3</span>{{ form.is_a_transporter.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                {{ form.is_a_transporter }}
                            </div>
                        </div>
                        <div id="is_a_indenting_agent" class="row">
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <p><span
                                        class="badge badge-pill badge-primary">4</span>{{ form.is_a_indenting_agent.label }}
                                </p>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                {{ form.is_a_indenting_agent }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-6">
                                <p><span class="badge badge-pill badge-primary">5
                                    </span>{{ form.reputation_of_counter.label }}</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-6">
                                {{ form.reputation_of_counter }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dataToBeCollectedFromOutlets" class="card">
                    <h5 class="card-header">Data to be collected from Outlets</h5>
                    <br/>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-8 col-6">
                                <p><span class="badge badge-pill badge-primary">1</span>Total Potential (MT/month)</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-6">
                                {{ form.total_potential }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-8 col-6">
                                <p><span class="badge badge-pill badge-primary">2</span>Wholesale Volume (MT/month)</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-6">
                                {{ form.wholesale_volume }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 col-sm-8 col-6">
                                <p><span class="badge badge-pill badge-primary">3</span>Retail Volume (MT/month)</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-6">
                                {{ form.retail_volume }}
                            </div>
                        </div>
                        <div id="brand1Card" class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6 col-6 ">
                                    <p class="font-weight-bold"> Brand 1</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-6 ">
                                    {{ form.brand_1 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-6 col-6">
                                    <label for="total_wholesale">Total Wholesale for selected
                                        brand</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-6">
                                    {{ form.wholesale_brand_1 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12  col-sm-12 col-12">
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="opc">OPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.opc_brand_1 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="ppc">PPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.ppc_brand_1 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="pcc">PCC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.pcc_brand_1 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="psc">PSC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.psc_brand_1 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="brand2Card" class="card-body">
                            <div class="row ">
                                <div class="form-group col-md-4 col-sm-6 col-6 ">
                                    <p class="font-weight-bold">Brand 2</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-6 ">
                                    {{ form.brand_2 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-6 col-6">
                                    <label for="total_wholesale">Total Wholesale for selected
                                        brand</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-6">
                                    {{ form.wholesale_brand_2 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12  col-sm-12 col-12">
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="opc">OPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.opc_brand_2 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="ppc">PPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.ppc_brand_2 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="pcc">PCC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.pcc_brand_2 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="psc">PSC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.psc_brand_2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="brand3Card" class="card-body">
                            <div class="row ">
                                <div class="form-group col-md-4 col-sm-6 col-6 ">
                                    <p class="font-weight-bold">Brand 3</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-6 ">
                                    {{ form.brand_3 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-6 col-6">
                                    <label for="total_wholesale">Total Wholesale for selected
                                        brand</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-6">
                                    {{ form.wholesale_brand_3 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12  col-sm-12 col-12">
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="opc">OPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.opc_brand_3 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="ppc">PPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.ppc_brand_3 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="pcc">PCC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.pcc_brand_3 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="psc">PSC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.psc_brand_3 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="brand4Card" class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6 col-6 ">
                                    <p class="font-weight-bold">Brand 4</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-6 ">
                                    {{ form.brand_4 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-6 col-6">
                                    <label for="total_wholesale">Total Wholesale for selected
                                        brand</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-6">
                                    {{ form.wholesale_brand_4 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12  col-sm-12 col-12">
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="opc">OPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.opc_brand_4 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="ppc">PPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.ppc_brand_4 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="pcc">PCC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.pcc_brand_4 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="psc">PSC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.psc_brand_4 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="brand5Card" class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6 col-6 ">
                                    <p class="font-weight-bold">Brand 5</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-6 col-6 ">
                                    {{ form.brand_5 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-6 col-6">
                                    <label for="total_wholesale">Total Wholesale for selected
                                        brand</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-6">
                                    {{ form.wholesale_brand_5 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12  col-sm-12 col-12">
                                    <div class="row">
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="opc">OPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.opc_brand_5 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="ppc">PPC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.ppc_brand_5 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="pcc">PCC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.pcc_brand_5 }}
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            <label for="psc">PSC brand</label>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 col-6">
                                            {{ form.psc_brand_5 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-8 col-sm-6 col-12">
                                {{ form.comment.label }}
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-12">
                                {{ form.comment }}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-end">
                    <div class="col-md-2 col-sm-2 col-6">
                        <button type="button" onclick="goBack()" class="btn btn-primary btn-sm btn-block">Edit</button>
                    </div>
                    <div class="form-group col-md-2 col-sm-2 col-6">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Submit</button>
                    </div>
                </div>
                <br />
                <br />
            </form>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    $(document).ready(function () {
        if ($('#id_dob').val()) {
            var dob = new Date($('#id_dob').val())
            var newDate = formatDate(dob);
            $('#id_dob').val(newDate)
        }
    });
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
   
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
   
        return [day, month, year].join('-');
    }
    if ($('#id_is_a_cement_counter').val() == 'no') {
        $('#networkCapabilityForCementBusiness').attr('hidden', 'hidden');
        $('#dataToBeCollectedFromOutlets').attr('hidden', 'hidden');
    }
    else {
        if (!$('#id_is_a_cnf_cfa').val() || $('#id_is_a_cnf_cfa').val() == '') {
            $('#is_a_cnf_cfa').attr('hidden', 'hidden');
        }
        if (!$('#id_is_a_sp').val() || $('#id_is_a_sp').val() == '') {
            $('#is_a_sp').attr('hidden', 'hidden');
        }
        if (!$('#id_is_a_transporter').val() || $('#id_is_a_transporter').val() == '') {
            $('#is_a_transporter').attr('hidden', 'hidden');
        }
        if (!$('#id_is_a_indenting_agent').val() || $('#id_is_a_indenting_agent').val() == '') {
            $('#is_a_indenting_agent').attr('hidden', 'hidden');
        }
    }
    if (parseFloat($('#id_non_cement_turnover').val()) == 0) {
        $('#additionalBusinessInfo').attr('hidden', 'hidden');
    }
    else {
        $('#id_any_non_cement_business').val('yes');
    }
    if (!$('#id_brand_1').val()) {
        $('#brand1Card').attr('hidden', 'hidden');
    }
    if (!$('#id_brand_2').val()) {
        $('#brand2Card').attr('hidden', 'hidden');
    }
    if (!$('#id_brand_3').val()) {
        $('#brand3Card').attr('hidden', 'hidden');
    }
    if (!$('#id_brand_4').val()) {
        $('#brand4Card').attr('hidden', 'hidden');
    }
    if (!$('#id_brand_5').val()) {
        $('#brand5Card').attr('hidden', 'hidden');
    }

    function goBack() {
        so_code = $('#id_so_code').val();
        dap_id = $('#id_dap_id').val();
        geo_location = $('#id_geo_location').val();
        if (geo_location) {
            window.location.href = '/e-page-1/' + so_code + '/' + dap_id + '/' + geo_location + '/'
        }
        else {
            window.location.href = '/e-page-1/' + so_code + '/' + dap_id + '/'
        }
    }
</script>

</html>